.welcome-message {
  background-color: darkgreen;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.login-prompt {
  background-color: darkred;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}
